name: CI/CD Pipeline

on:
  pull_request:
    branches: [main, master]

jobs:
  run-tests:
    name: Run tests (pytest)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Pytest
        run: |
          cd src
          python -m pytest -q

  run-ruff:
    name: Lint with Ruff
    runs-on: ubuntu-latest
    needs: run-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Ruff linter
        uses: astral-sh/ruff-action@v3
        with:
          args: "check --config ruff.toml --output-format=github ."
